@model Category
@{
	ViewData["Title"] = "UpdateCategory";
}

<h1>Update Category</h1>

<form asp-controller="Category" asp-action="UpdateCategory" method="post">
	<input type="hidden" asp-for="Id" />
	<div class="mb-3">
		<label asp-for="Name" class="form-label">Name</label>
		<input asp-for="Name" type="text" class="form-control" placeholder="Enter a name">
	</div>
	<button class="btn btn-success">Submit</button>
</form>