@model UserCreateVM
@{
	ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-controller="Authenticate" asp-action="Register" class="form-control">
	<div class="mb-3">
		<label asp-for="FullName" class="form-label">Full Name</label>
		<input asp-for="FullName" type="text" class="form-control" placeholder="Enter Full Name">
	</div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label">Email</label>
		<input asp-for="Email" type="email" class="form-control" placeholder="Enter Email">
	</div>
	<div class="mb-3">
		<label asp-for="Password" class="form-label">Password</label>
		<input asp-for="Password" type="password" class="form-control" placeholder="Enter Password">
	</div>
	<div class="mb-3">
		<label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
		<input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Enter ConfirmPassword">
	</div>
	<br />
	<button class="btn btn-success">Submit</button>
	<br />
	<br />
	<a asp-action="Login" asp-controller="Authenticate">Already have an account?</a>
	<br />
</form>



